body {
  background-color: #E6EEFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
table, th, td {
  padding: 10px;
  border: 1px solid black; 
  border-collapse: collapse;
}
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#pause_container {
  text-align:center;
  padding: 10px;
}
#pause_label, #pause_button {
    display:inline;
}
#nes-wasm-canvas {
  margin: 20px;
  border: 5px solid #00151A; 
}
#file-input {
  display: none;
}
